.ml3 {
    font-weight: 900;
    font-size: 6em;
}

body {
    background-color: #00b3b3;
}

.preview {
    width: 70vw;
    height: 70vh;
    object-fit: contain;
    margin:auto;
}

.hidden {
    display: none;
}
